name: Mandrel Builder Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'LICENSE'
      - '**.md'
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths-ignore:
      - 'LICENSE'
      - '**.md'

env:
  LANG: en_US.UTF-8
  FAIL_ON_PERF_REGRESSION: false
  CMD_LONG_TIMEOUT_MS: 180000
  LONG_GOTO_URL_TIMEOUT_MS: 200000
  QUARKUS_NATIVE_CONTAINER_RUNTIME: docker
  JAVA_VERSION: 17
  MAVEN_VERSION: 3.9.9

jobs:
  local-run:
    name: ${{ matrix.mandrel-builder-version }}-${{ matrix.mandrel-builder-base }} - ${{ matrix.quarkus-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - quarkus-version: '2.13.9.Final'
            mandrel-builder-version: '22.3-java17'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'

          - quarkus-version: '2.16.12.Final'
            mandrel-builder-version: '22.3-java17'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'

          - quarkus-version: '3.2.12.Final'
            mandrel-builder-version: 'jdk-17'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'
          - quarkus-version: '3.2.12.Final'
            mandrel-builder-version: 'jdk-17'
            mandrel-builder-base: 'ubi9'
            os: 'ubuntu-24.04'

          - quarkus-version: '3.8.6.1'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'

          - quarkus-version: '3.15.7'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'

          - quarkus-version: '3.20.3'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'

          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'
          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi9'
            os: 'ubuntu-24.04'
          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi10'
            os: 'ubuntu-24.04'
          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04-arm'
          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi9'
            os: 'ubuntu-24.04-arm'
          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-21'
            mandrel-builder-base: 'ubi10'
            os: 'ubuntu-24.04-arm'

          - quarkus-version: '3.8.6.1'
            mandrel-builder-version: 'jdk-22'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'
          - quarkus-version: '3.8.6.1'
            mandrel-builder-version: 'jdk-22'
            mandrel-builder-base: 'ubi9'
            os: 'ubuntu-24.04'

          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-24'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'
          - quarkus-version: '3.27.1'
            mandrel-builder-version: 'jdk-23'
            mandrel-builder-base: 'ubi9'
            os: 'ubuntu-24.04'

          - quarkus-version: '3.30.1'
            mandrel-builder-version: 'jdk-25'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04'
          - quarkus-version: '3.30.1'
            mandrel-builder-version: 'jdk-25'
            mandrel-builder-base: 'ubi9'
            os: 'ubuntu-24.04'
          - quarkus-version: '3.30.1'
            mandrel-builder-version: 'jdk-25'
            mandrel-builder-base: 'ubi10'
            os: 'ubuntu-24.04'
          - quarkus-version: '3.30.1'
            mandrel-builder-version: 'jdk-25'
            mandrel-builder-base: 'ubi'
            os: 'ubuntu-22.04-arm'
          - quarkus-version: '3.30.1'
            mandrel-builder-version: 'jdk-25'
            mandrel-builder-base: 'ubi9'
            os: 'ubuntu-24.04-arm'
          - quarkus-version: '3.30.1'
            mandrel-builder-version: 'jdk-25'
            mandrel-builder-base: 'ubi10'
            os: 'ubuntu-24.04-arm'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          path: ts
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ matrix.quarkus-version }}-${{ matrix.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ matrix.quarkus-version }}-${{ matrix.os }}-
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          check-latest: true
      - name: Linux test
        if: startsWith(matrix.os, 'ubuntu')
        timeout-minutes: 55
        env:
          MAVEN_OPTS: -Xmx1g
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gdb
          curl -s -O -J "https://archive.apache.org/dist/maven/maven-${MAVEN_VERSION:0:1}/${MAVEN_VERSION}/binaries/apache-maven-${MAVEN_VERSION}-bin.zip"
          unzip ./apache-maven-${MAVEN_VERSION}-bin.zip -d ./mymaven
          export MAVEN_HOME=$(pwd)/mymaven/apache-maven-${MAVEN_VERSION}
          export PATH=${MAVEN_HOME}/bin:${PATH}
          pushd ts
          mkdir -p ~/.m2/
          cp .github/mvn-settings.xml ~/.m2/settings.xml
          java --version
          mvn --version
          mvn clean verify -Ptestsuite-builder-image --batch-mode \
              -Dquarkus.version=${{ matrix.quarkus-version }} \
              -Dquarkus.native.builder-image=quay.io/quarkus/${{ matrix.mandrel-builder-base }}-quarkus-mandrel-builder-image:${{ matrix.mandrel-builder-version }}
        shell: bash
      - name: Prepare failure archive (if maven failed)
        if: failure()
        run: tar czvf test-reports-mandrel-it.tgz ${{ github.workspace }}/ts/testsuite/target/archived-logs
      - name: Upload failure Archive (if maven failed)
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: reports-${{ matrix.mandrel-builder-version }}-${{ matrix.quarkus-version }}-${{ matrix.mandrel-builder-base }}-${{ matrix.os }}
          path: 'test-reports-mandrel-it.tgz'
